<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <profile-icon-selector formControlName="icon"/>
        <input formControlName="firstName" [class.error]="firstName.touched && firstName.invalid" placeholder="First Name" />
        <em *ngIf="firstName.touched && firstName.errors?.['required']">Please enter a First Name</em>
          <!--errors.minLength. Notice that that is all lowercase-->
        <em *ngIf="firstName.touched && firstName.errors?.['minlength']">First Name must be at least 3 characters</em>
        <em *ngIf="firstName.touched && firstName.errors?.['whitespace']">First Name cannot be empty or just spaces</em>
        <input formControlName="lastName" placeholder="Last Name" />
        <!-- <input type="date" formControlName="dateOfBirth" placeholder="Date of Birth" [value]="contactForm.controls.dateOfBirth.value | date:'yyyy-MM-dd'"/> -->
          <input type="date" formControlName="dateOfBirth" placeholder="Date of Birth" />
        <!--<input formControlName="favoritesRanking" placeholder="Favorites Ranking" type="number"/> ensure this is a number, otherwise the default ControlValueAccesser will updates its formcontrol with a string value; a good practice in html forms 
        and it will display the appropriate type in the input type on mobile device;        it also give increment and decrement selectors -->
        <div><span>Favorite Ranking</span>
          <input formControlName="favoritesRanking" placeholder="Favorites Ranking" type="range" min="0" max="5" />
          <span>{{contactForm.controls.favoritesRanking.value}}</span>
        </div>
        <div><input type="checkbox" formControlName="personal" />Personal</div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div formArrayName="phones">
        <span><img src="/assets/plus-grey-blue.png" class="add" (click)="addPhoneGroup()"/>Add Phone</span>
        <div *ngFor="let phone of contactForm.controls.phones.controls; let i = index" [formGroupName]="i" class="flex-column">
          <div class="flex-group">
            <input placeholder="Phone" formControlName="phoneNumber" />
          </div>
          <div class="radio">
            <!-- <input type="radio" formControlName="phoneType" value="mobile"> Mobile
                          <input type="radio" formControlName="phoneType" value="work"> Work
                          <input type="radio" formControlName="phoneType" value="other"> Other -->
            <span *ngFor="let type of phoneTypes">
              <input type="radio" [value]="type.value" formControlName="phoneType"> {{type.title}}
            </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div formArrayName="addresses">
       <span> <img src="/assets/plus-grey-blue.png" class="add" (click)="addAddressGroup()"/>Add Address</span>
        <div class="address"  *ngFor="let address of contactForm.controls.addresses.controls; let i = index" [formGroupName]="i" 
          [class.error]="address.invalid && address.dirty">
          <div class="flex-group">
            <input placeholder="Address" formControlName="streetAddress" />
            <div>
              <em *ngIf="address.get('streetAddress')?.touched && address.get('streetAddress')?.errors?.['whitespace']">Street Address cannot be empty or just spaces</em>
            </div>
            
          </div>
          <input formControlName="city" placeholder="City" />
          <input formControlName="state" placeholder="State/Region" />
          <input formControlName="postalCode" placeholder="Zip/Postal Code" />
          <select formControlName="addressType">
            <!-- <option value="home">Home</option>
            <option  value="work">Work</option>
            <option  value="mobile">Other</option> -->
            <option *ngFor="let type of addressTypes" [value]="type.value">{{type.title}}</option>
          </select>
          <div>
            <em *ngIf="address.invalid && address.dirty">Incompleted Address</em>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea formControlName="notes" [class.error]="notes.invalid" placeholder="Notes" rows="5"></textarea>
        <em *ngIf="notes.errors?.['restrictedwords']">Restricted Word found: {{notes.errors?.['restrictedwords']}}</em>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary">Cancel</button>
      <button type="submit" class="primary">Save</button>
  </div>
  </form>
 
</div>


<!--it is not the right way to submit a form. We should instead be using a submit button and have a submit action on our actual form element. 
That is the correct way to wire up a form according to HTML standards. It also allows the user to submit the form by hitting enter(with the form being focused) in addition to clicking the button, which is more accessible.
so the button type should be submit; the method should be on the form element
  <div class="buttons">
    <button class="secondary">Cancel</button>
    <button class="primary" (click)="saveContact()">Save</button>

-->